<html>
<head>
	<style type="text/css">
		html {
			-webkit-text-size-adjust: none;
		}

		body {
			font-family: arial, helvetica, verdana, sans-serif;
			font-size: 14px;
			background-color: #F4F4F4;
			padding: 0;
			width: 100%;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<div style="height: 10px; font-size: 10px; line-height: 10px;">&nbsp;</div>
	<table width="602" border="0" cellspacing="0" cellpadding="0" align="center">
		<tbody>
			<tr>
				<td>
					<table width="602" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td>
									<!-- Content -->
								</td>
							</tr>
							<tr>
								<td height="10" align="left" style="font-size: 11px; color: #999999; font-family: Arial, Helvetica, sans-serif"></td>
							</tr>
							<tr>
								<td align="left" style="color: #999999; font-family: Arial,sans-serif; font-size: 11px; padding: 0 0 0 3px;">
									<span style="line-height: 14px">&copy; 2014 AxSoft.</span>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px; font-size: 10px; line-height: 10px;">&nbsp;</div>
</body>
</html>